
body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: #f8f9fa;
}

h1 {
	margin-top: 20px;
	font-size: 36px;
	color: #333;
}

iframe {
	margin-top: 20px;
	border: none;
}

/* Common styles for all buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}


/* Primary Button */
.refresh-button {
    background-color: #007bff;
}

.refresh-button:hover {
    background-color: #0056b3;
}

/* Secondary Button */
.language-toggle, .toggle-sample-button, .share-button {
    background-color: #28a745;
}

.language-toggle:hover, .toggle-sample-button:hover, .share-button:hover{
    background-color: #218838;
}

/* Tertiary Button */
.toggle-share-button  {
    background-color: #6c757d;
}

.toggle-share-button:hover {
    background-color: #5a6268;
}

.tutorial {
	max-width: 800px;
	text-align: left;
	margin: 20px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.tutorial h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.tutorial p {
	font-size: 18px;
	line-height: 1.6;
	margin: 10px 0;
}

.share-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.share-link input {
	width: 300px;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}


.plain-text-link {
	margin-top: 10px;
	font-size: 16px;
	color: #333;
}
		
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: scroll;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.url-code {
    margin-top: 20px;
    text-align: center;
}

.url-code img {
    width: 150px;
    height: 150px;
}

main {
    flex: 1;
}

footer {
    /* position: fixed; */
    /* bottom: 0; */
    background: #f1f1f1;
	
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    width: 100%;
    color: #333;
	background: #f1f1f1;
	padding: 3px;
    text-align: center;
    font-size: 12px;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	#title {
		font-size: 18px; /* Adjust font size for smaller screens */
	}
}

.ship-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: right;
    margin-left: 10px;
}

.sample-board img {
    max-width: 100%; /* Ensures the image scales down if the container is smaller */
    height: auto;   /* Maintains the aspect ratio */
    width: 80%;     /* Adjust this value to the desired width */
    margin: 0 auto; /* Center the image */
    display: block; /* Ensures the centering works */
}

